
#messageContainer {
    border-width: 2px;
    border-radius: 5px;
    border-color: darkblue;
    background-color: black;
    color: azure;
    width: 500px;
    height: 250px;
    overflow-y: auto;
    text-align: left;
}
